.project{
    .card{
        .description{
            display: flex;
            justify-content: space-between;
            padding: 0.8rem;
            align-items: center;
        }
        .label{
            margin: 0;
            display: flex;
            flex-direction: column;
            text-align: left;
        }
    }
    .text-small{
        font-size: 12px !important;
        text-transform: uppercase;
        color: white !important;
        width: fit-content;
        background-color: var(--mt-primary-color);
        padding: 0.5rem 1.2rem;
    }
    .img-holder{
        overflow: hidden;
        img{
            transition: all ease-in 0.33s;
            &:hover{
            transform: scale(1.2);
            transition: all ease-in 0.33s;
            cursor: pointer;
        } 
        }
       
    }
    h3{
        font-weight: 700;
        margin-bottom: 2rem;
    }

}
.card{
    @include breakpoint(xs){
        margin-bottom: 1rem;
    }
}